.facon{
	 padding-top:-18px;
	 padding-left:18px;
	display:inline-block;
	font:normal normal normal 20px/1 FontAwesome;
	font-size:inherit;text-rendering:
	auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
	}

    .facon-home:before{
        content: '';
        background:url('assets/img/Icons/home.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }
    .facon-kasir:before{
        content: '';
        background:url('assets/img/Icons/Kasir.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }
	
    .facon-igd:before{
        content: '';
        background:url('assets/img/Icons/IGD.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }		
	    .facon-igd-pen:before{
        content: '';
        background:url('assets/img/Icons/Pendaftaran IGD.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-igd-per:before{
        content: '';
        background:url('assets/img/Icons/Permintaan Barang.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }
	.facon-igd-tin:before{
        content: '';
        background:url('assets/img/Icons/Form Tindakan Darurat.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }
	.facon-inap:before{
        content: '';
        background:url('assets/img/Icons/Pelayanan Rawat Inap.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-inap-pen:before{
        content: '';
        background:url('assets/img/Icons/Pendaftaran IGD.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-kamar:before{
        content: '';
        background:url('assets/img/Icons/Data Kamar.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-legal:before{
        content: '';
        background:url('assets/img/Icons/Legalitas Peserta.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-jalan:before{
        content: '';
        background:url('assets/img/Icons/Pelayanan Pasien.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-poli:before{
        content: '';
        background:url('assets/img/Icons/Pendaftaran Poli.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-app:before{
        content: '';
        background:url('assets/img/Icons/Appointment.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-bio:before{
        content: '';
        background:url('assets/img/Icons/Biodata.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-pasien:before{
        content: '';
        background:url('assets/img/Icons/Data Pasien.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-jadok:before{
        content: '';
        background:url('assets/img/Icons/Jadwal Dokter.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-rm:before{
        content: '';
        background:url('assets/img/Icons/Rekam Medis.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-apotek:before{
        content: '';
        background:url('assets/img/Icons/Apotek.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }	
	.facon-reso:before{
        content: '';
        background:url('assets/img/Icons/Resep Obat.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-pel:before{
        content: '';
        background:url('assets/img/Icons/Pelanggan.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-per:before{
        content: '';
        background:url('assets/img/Icons/Permintaan Barang.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-pur:before{
        content: '';
        background:url('assets/img/Icons/Purchasing.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-beli-obat:before{
        content: '';
        background:url('assets/img/Icons/Pembelian Obat.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-beli-alkes:before{
        content: '';
        background:url('assets/img/Icons/Pembelian Obat.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-beli-atk:before{
        content: '';
        background:url('assets/img/Icons/Pembelian ATK.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-po:before{
        content: '';
        background:url('assets/img/Icons/Purchasing Order.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-lab:before{
        content: '';
        background:url('assets/img/Icons/Laboratorium.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-lab-daftar:before{
        content: '';
        background:url('assets/img/Icons/Pendaftaran Lab.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-lab-hasil:before{
        content: '';
        background:url('assets/img/Icons/Hasil Lab.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-lab-jenis:before{
        content: '';
        background:url('assets/img/Icons/Jenis Pemeriksaan Lab.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-lab-nama:before{
        content: '';
        background:url('assets/img/Icons/Nama Pemeriksaan Lab.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-hospital:before{
        content: '';
        background:url('assets/img/Icons/Hospital.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-barang:before{
        content: '';
        background:url('assets/img/Icons/Data Barang.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-barang-setok:before{
        content: '';
        background:url('assets/img/Icons/Stok Barang.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-bank:before{
        content: '';
        background:url('assets/img/Icons/Data Bank.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-cate-barang:before{
        content: '';
        background:url('assets/img/Icons/Kategori Barang.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-user:before{
        content: '';
        background:url('assets/img/Icons/User Login.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-kelas:before{
        content: '';
        background:url('assets/img/Icons/Data Kelas.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-dokter:before{
        content: '';
        background:url('assets/img/Icons/Data Dokter.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
				
	.facon-biaya:before{
        content: '';
        background:url('assets/img/Icons/List Biaya Tindakan.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
	.facon-download:before{
        content: '';
        background:url('assets/img/Icons/Templete Import Data Barang.png');
        background-size: 20px 20px;
        position: absolute;
        width:20px;
        height:20px;
        margin-left:-20px;
		margin-top:-18px;       
    }				
		